body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 40px;
}
.left-border {
  border-left: 5px solid;
  border-image: linear-gradient(180deg, tomato, red);
  border-image-slice: 1;
}
.btn-style {
  color: white;
  background-color: orangered;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: 700;
}
.dark-orange {
  color: #ff8c00;
}
.flex-item {
  display: flex;
}
.half-width {
  width: 50%;
  text-align: justify;
  padding: 1%;
  margin: 4%;
}
.half-width img {
  width: 80%;
}
